# Python bytecode
__pycache__/
*.pyc

# Django SQLite database
db.sqlite3

# Virtual Environment
venv/

# Media and Static folders (can be handled differently)
static/
media/

# IDE-specific files (VS Code)
.vscode/

# Django migrations (optional if we need them, but usually ignored)
home/migrations/
